<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Inicio')}">

</head>
<body>
<!--Div para la navegacion-->
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>

<!--Div para la tabla-->
<div class="container">
    <div class="container text-center " style="margin:30px">
        <h3>Sistemas de Contactos</h3>
    </div>
    <div class="container">
        <table class="table  table-bordered table-striped table-hover align-middle">
            <thead class="text-dark text-center  table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="contacto : ${contactos}">
                <th th:text="${contacto.idContacto}" scope="row"></th>
                <td th:text="${contacto.nombre}"></td>
                <td th:text="${contacto.celular}"></td>
                <td th:text="${contacto.email}"></td>
                <td class="center">
                    <div class="container">
                        <a th:href="@{/editar/{id}(id=${contacto.idContacto})}"
                        class="btn btn-warning btn-sm me-3 ">
                            <i class="bi bi-pencil-fill">  Editar</i></a>

                        <a th:href="@{/eliminar/{id}(id=${contacto.idContacto})}"
                           class="btn btn-danger btn-sm " >
                            <i class="bi bi-trash-fill" >Eliminar </i> </a>
                    </div>
                </td>
            </tr>
<!--            <tr >-->
<!--                <th  scope="row">1</th>-->
<!--                <td> Samuel</td>-->
<!--                <td >80999999</td>-->
<!--                <td>Saria@gmail.com</td>-->
<!--            </tr>-->
            </tbody>
        </table>

    </div>

</div>

<div th:replace="~{fragmentos/pies-pagina::pies-pagina-seccion}"></div>



</body>
</html>